<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>net.dmlane.videos.job</string>
	<key>OnDemand</key>
	<true/>
	<key>ProgramArguments</key>
	<array>
	  <string>/Users/dave/.scripts/bin/macos_launch.sh</string>
	  <string>/Users/dave/dev/mp4proc/job_manager.pl</string>
	</array>
	<key>StandardErrorPath</key>
	<string>/tmp/net.dmlane.videos.job.err</string>
	<key>StandardOutPath</key>
	<string>/tmp/net.dmlane.videos.job.out</string>
</dict>
</plist>
